[Desktop Entry]
Name=Apollon File Sharing Client
Name[tr]=Apollon
Name[nl]=Apollon File Sharing Cliënt
Comment=The ultimate file sharing program for Linux - OpenFT, Gnutella, FastTrack (Kazaa)
Comment[tr]=Linux için OpenFT, Gnutella, Fasttrack (Kazaa) ağları istemcisi
Comment[nl]=Het ultieme programma voor het delen van bestanden onder Linux - OpenFT, Gnutella, FastTrack (Kazaa)
GenericName=Apollon File Sharing Client
GenericName[tr]=p2p istemcisi
GenericName[nl]=p2p Cliënt
Exec=apollon
Type=Application
Encoding=UTF-8
Terminal=false
Icon=apollon
Categories=Application;Qt;KDE;Network;FileTransfer;
StartupNotify=true
StartupWMClass=apollon
