[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Nicotine
GenericName=Soulseek Client
GenericName[tr]=Soulseek İstemcisi
Comment=Client for connecting to the soulseek p2p network
Comment[tr]=Soulseek paylaşım ağına bağlanmak için bir istemci
Icon=nicotine_clear.png
Exec=nicotine
Terminal=false
Categories=Application;Network;