[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Mpeg4ip
Name[tr]=Mpeg4ip
GenericName=Mpeg4ip
GenericName[tr]=Mpeg4ip
Icon=mpeg4ip
Exec=mpeg4ip
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
