[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=SmartCam
Name[tr]=SmartCam
GenericName=Smart Phone Web Camera
GenericName[tr]=Smart Phone Web Kamerası
Icon=smartcam
Exec=smartcam
Terminal=false
StartupNotify=false
Categories=Application;Graphics;
