[Desktop Entry]
Name=KVpnc
Encoding=UTF-8
Comment=GUI for various VPN clients
Comment[es]=Interfaces para varios clientes VPN
Comment[de]=Oberfläche für VPN-Clients
Comment[tr]=Çeşitli VPN istemcileri için grafik arayüzü
GenericName=VPN Client GUI
GenericName[es]=Interfaz del cliente VPN
GenericName[de]=VPN-Client-GUI
GenericName[nl]=VPN Cliënt GUI
GenericName[tr]=VPN grafik arayüzü
Exec=kvpnc
Icon=kvpnc
X-KDE-SubstituteUID=true
Type=Application
Categories=Network;RemoteAccess;KDE;Qt;
