[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ManDvD
Name[tr]=ManDvD
GenericName=Video DVD Creator
GenericName[tr]=Video DVD Oluşturucu 
Icon=mandvd
Exec=mandvd
Terminal=false
Categories=Application;AudioVideo;
