[Desktop Entry]
Type=MimeType
MimeType=audio/x-ape
Icon=sound
Patterns=*.ape;*.APE;
Comment=Monkey's Audio
Comment[be@latin]=Aŭdyjo Monkey's
Comment[bg]=Аудио — Monkey
Comment[ca]=àudio Monkey
Comment[cs]=Zvuk Monkey's
Comment[de]=Monkey's Audio
Comment[es]=audio Monkey
Comment[eu]=Monkey audioa
Comment[fi]=Monkeyn ääni
Comment[fr]=audio Monkey
Comment[ga]=fuaim Monkey's
Comment[hu]=Monkey hang
Comment[id]=Audio Monkey
Comment[it]=Audio Monkey's
Comment[ja]=Monkey's オーディオ
Comment[ko]=Monkey's 오디오
Comment[lt]=Monkey garsas
Comment[nb]=Monkey's-lyd
Comment[nl]=Monkey's-audio
Comment[nn]=Monkey's Audio-lyd
Comment[pl]=Plik dźwiękowy Monkey's Audio
Comment[pt_BR]=Áudio Monkey's
Comment[ru]=аудио Monkey's
Comment[sq]=Audio Monkey's
Comment[sv]=Monkey's audio
Comment[tr]=Monkey ses biçimi
Comment[uk]=Звук Monkey's
Comment[vi]=Âm thanh cua Monkey
