[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird
GenericName=Mail Application
GenericName[tr]=E-Posta Uygulaması
Comment=Send and Receive E-mail
Comment[tr]=E-posta Gönderin ve Alın
Exec=/usr/bin/thunderbird %U
Icon=thunderbird
Terminal=false
Type=Application
StartupWMClass=Thunderbird-bin
Categories=Application;Network;Email;
