# Detect USB Modems supported by cxacru, ueagle, speedtouch drivers

SUBSYSTEM!="usb_device", ACTION!="add", GOTO="modem_rules_end"

# Conexant modems
SYSFS{idVendor}=="0572", SYSFS{idProduct}=="cafe", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0572", SYSFS{idProduct}=="cb00", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0572", SYSFS{idProduct}=="cb01", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0572", SYSFS{idProduct}=="cb02", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0572", SYSFS{idProduct}=="cb06", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0572", SYSFS{idProduct}=="cb07", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="08e3", SYSFS{idProduct}=="0100", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="08e3", SYSFS{idProduct}=="0102", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0eb0", SYSFS{idProduct}=="3457", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="1803", SYSFS{idProduct}=="5510", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0675", SYSFS{idProduct}=="0200", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0586", SYSFS{idProduct}=="330a", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0586", SYSFS{idProduct}=="330b", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="1803", SYSFS{idProduct}=="5510", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0659", SYSFS{idProduct}=="0020", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0509", SYSFS{idProduct}=="0812", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="100d", SYSFS{idProduct}=="cb01", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="100d", SYSFS{idProduct}=="3342", RUN+="/usr/sbin/usb-bridge.py"

# Speedtouch modems
SYSFS{idVendor}=="06b9", SYSFS{idProduct}=="4061", RUN+="/usr/sbin/usb-bridge.py"

# Elsa modems
SYSFS{idVendor}=="05CC", SYSFS{idProduct}=="3350", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="05CC", SYSFS{idProduct}=="3351", RUN+="/usr/sbin/usb-bridge.py"

# Sagem modems
SYSFS{idVendor}=="1110", SYSFS{idProduct}=="9010", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="1110", SYSFS{idProduct}=="900F", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="1110", SYSFS{idProduct}=="9024", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="1110", SYSFS{idProduct}=="9023", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="1110", SYSFS{idProduct}=="9022", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="1110", SYSFS{idProduct}=="9021", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="1110", SYSFS{idProduct}=="9032", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="1110", SYSFS{idProduct}=="9031", RUN+="/usr/sbin/usb-bridge.py"

# US Robotics modems
SYSFS{idVendor}=="0BAF", SYSFS{idProduct}=="00F2", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0BAF", SYSFS{idProduct}=="00F1", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0BAF", SYSFS{idProduct}=="00FA", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0BAF", SYSFS{idProduct}=="00F9", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0BAF", SYSFS{idProduct}=="00F6", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0BAF", SYSFS{idProduct}=="00F5", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0BAF", SYSFS{idProduct}=="00F8", RUN+="/usr/sbin/usb-bridge.py"
SYSFS{idVendor}=="0BAF", SYSFS{idProduct}=="00F7", RUN+="/usr/sbin/usb-bridge.py"

LABEL="modem_rules_end"
