[Desktop Entry]
Type=Application
Version=2.3.0
Encoding=UTF-8
Name=mkvmerge GUI
Comment=Merge multimedia streams into a Matroska file
Comment[tr]=Çokluortam yayınlarından Matroska dosyası üretme aracı
Icon=mmg
Exec=mmg
Terminal=false
Categories=AudioVideo;AudioVideoEditing;GTK;
