[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=SesliSozluk
Name[tr]=Sesli Sözlük
ServiceTypes=SearchProvider
Keys=sesli,s
Query=http://www.seslisozluk.com/?word=\\{@}
