[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Uluzilla
Name[tr]=Uluzilla
ServiceTypes=SearchProvider
Keys=uluzilla,ulu
Query=http://bugs.pardus.org.tr/\\{@}
