[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Streamtuner
GenericName=Stream Directory Browser
GenericName[tr]=İnternet Radyo tarayıcısı
Comment=Browse Internet stream directories
Comment[tr]=İnternet Radyo tarayıcısı
Icon=streamtuner.png
TryExec=streamtuner
Exec=streamtuner
Terminal=false
Categories=Application;AudioVideo;GTK;Tuner;
StartupNotify=true