[Desktop Entry]
Icon=edu_mathematics
Name=Mathematics
Name[af]=Wiskunde
Name[ar]=رياضيات
Name[be]=Матэматыка
Name[bg]=Математика
Name[bn]=গণিত
Name[br]=Jedoniel
Name[bs]=Matematika
Name[ca]=Matemàtiques
Name[cs]=Matematika
Name[csb]=Matematika
Name[cy]=Mathemateg
Name[da]=Matematik
Name[de]=Mathematik
Name[el]=Μαθηματικά
Name[eo]=Matematiko
Name[es]=Matemáticas
Name[et]=Matemaatika
Name[eu]=Matematikak
Name[fa]=ریاضیات
Name[fi]=Matematiikka
Name[fo]=Støddfrøði
Name[fr]=Mathématiques
Name[ga]=Matamaitic
Name[gl]=Matemáticas
Name[he]=מתמטיקה
Name[hi]=गणित
Name[hr]=Matematika
Name[hu]=Matematika
Name[is]=Stærðfræði
Name[it]=Matematica
Name[ja]=数学
Name[ka]=მათემატიკა
Name[km]=គណិតវិទ្យា
Name[lt]=Matematika
Name[lv]=Matemātika
Name[mk]=Математика
Name[mn]=Математикийн
Name[ms]=Matematik
Name[nb]=Matematikk
Name[nds]=Reken
Name[ne]=गणित
Name[nl]=Wiskunde
Name[nn]=Matematikk
Name[nso]=Dipalontshetshere
Name[pa]=ਗਣਿਤ
Name[pl]=Matematyka
Name[pt]=Matemática
Name[pt_BR]=Matemática
Name[ru]=Математика
Name[se]=Matematihkka
Name[sk]=Matematika
Name[sl]=Matematika
Name[sr]=Математика
Name[sr@Latn]=Matematika
Name[sv]=Matematik
Name[ta]=கணிதம்
Name[tg]=Математика
Name[tr]=Matematik
Name[uk]=Математика
Name[uz]=Matematika
Name[uz@cyrillic]=Математика
Name[ven]=Zwa dzimbalo
Name[vi]=Toán học
Name[xh]=Imathematika
Name[zh_CN]=数学
Name[zh_TW]=數學
Name[zu]=Ezezibalo
