[Desktop Entry]
Icon=edu_science
Name=Science
Name[af]=Wetenskap
Name[ar]=العلم
Name[az]=Elm
Name[be]=Навука
Name[bg]=Наука
Name[bn]=বিজ্ঞান
Name[br]=Skiantoù
Name[bs]=Nauka
Name[ca]=Ciència
Name[cs]=Věda
Name[csb]=Ùczba
Name[cy]=Gwyddoniaeth
Name[da]=Videnskab
Name[de]=Wissenschaft
Name[el]=Επιστήμη
Name[eo]=Sciencumoj
Name[es]=Ciencia
Name[et]=Loodusteadused
Name[eu]=Zientzia
Name[fa]=علم
Name[fi]=Luonnontieteet
Name[fo]=Náttúruvísind
Name[ga]=Eolaíocht
Name[gl]=Ciencia
Name[he]=מדע
Name[hi]=विज्ञान
Name[hr]=Znanost
Name[hu]=Tudományok
Name[is]=Vísindi
Name[it]=Scienza
Name[ja]=サイエンス
Name[ka]=მეცნიერება
Name[km]=វិទ្យាសាស្ត្រ
Name[lt]=Mokslas
Name[lv]=Zinātne
Name[mk]=Наука
Name[mn]=Шинжлэх Ухааны
Name[ms]=Sains
Name[nb]=Vitenskap
Name[nds]=Wetenschap
Name[ne]=विज्ञान
Name[nl]=Wetenschappelijk
Name[nn]=Vitskap
Name[nso]=Mahlale
Name[pa]=ਵਿਗਿਆਨ
Name[pl]=Nauka
Name[pt]=Ciência
Name[pt_BR]=Ciências
Name[ro]=Ştiinţă
Name[ru]=Другие науки
Name[se]=Dieđa
Name[sk]=Vedecký
Name[sl]=Znanost
Name[sr]=Наука
Name[sr@Latn]=Nauka
Name[sv]=Vetenskap
Name[ta]=அறிவியல்
Name[tg]=Фан
Name[tr]=Bilim
Name[uk]=Наука
Name[uz]=Fan
Name[uz@cyrillic]=Фан
Name[ven]=Vhutsila
Name[vi]=Khoa học
Name[xh]=Inzulu lwazi
Name[zh_CN]=科学
Name[zh_TW]=科學
Name[zu]=Ubuchwepheshe bezesayensi
