[Desktop Entry]
Actions=Email
Encoding=UTF-8
ServiceTypes=allfiles

[Desktop Action Email]
Name=Send file(s) with KMail
Name[tr]=Dosyaları KMail ile gönder
Exec=kmail --attach %F
Icon=kmail
