[Desktop Entry]
GenericName=PDF Editor
GenericName[tr]=PDF Düzenleyici
Encoding=UTF-8
Exec=pdfedit
Icon=pdfedit
Name=PDF Editor
Name[tr]=PDF Düzenleyici
Comment=Editor for manipulating PDF documents
Comment[tr]=Pdf dosyalarını düzenlemek için editör
Terminal=false
Type=Application
StartupNotify=true
MimeType=application/x-pdf;application/pdf;
Categories=Application;Office;Publishing;Qt;

