[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kradio -caption "%c" %i %m  
Icon=kradio
DocPath=kradio/index.html
Name=KRadio
Name[tr]=KRadio
GenericName=Radio Player
GenericName[tr]=Radyo Çalıcı
Terminal=false
Categories=Qt;KDE;AudioVideo;
