[Desktop Entry]
BinaryPattern=tuneroid;
Comment=a tuner for musical instruments
Comment[C]=a tuner for musical instruments
Comment[tr]=Müzik aletleri için bir akort cihazı
DocPath=tuneroid/index.html
Exec=tuneroid -caption "%c" %i %m
Icon=tuneroid.xpm
MimeType=
MiniIcon=tuneroid.xpm
Name=tuneroid
Name[C]=tuneroid
Name[tr]=tuneroid
GenericName=a tuner for musical instruments
GenericName[tr]=Müzik aletleri için akort cihazı
Path=
Protocols=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
