/var/pisi/udev-138-50/work/udev-138/rules/
|-- gentoo
|   |-- 30-kernel-compat.rules              [dropped in 2009]
|   |-- 40-gentoo.rules                     [kept but not sure]
|   `-- 90-network.rules                    [we don't ship it]
|-- packages
|   |-- 40-alsa.rules                       [shipped with alsa-utils]
|   |-- 40-ia64.rules                       [introduced in 2009]
|   |-- 40-infiniband.rules                 [introduced in 2009]
|   |-- 40-isdn.rules                       [introduced in 2009]
|   |-- 40-pilot-links.rules                [introduced in 2009]
|   |-- 40-ppc.rules                        [unsupported arch]
|   |-- 40-s390.rules                       [unsupported arch]
|   |-- 40-zaptel.rules                     [introduced in 2009]
|   |-- 64-device-mapper.rules              [added to device-mapper]
|   `-- 64-md-raid.rules                    [never shipped, maybe?]
|-- redhat
|   |-- 40-redhat.rules                     [never shipped]
|   `-- 95-pam-console.rules                [never shipped]
|-- rules.d
|   |-- 50-udev-default.rules
|   |-- 60-persistent-input.rules
|   |-- 60-persistent-serial.rules
|   |-- 60-persistent-storage-tape.rules
|   |-- 60-persistent-storage.rules
|   |-- 60-persistent-v4l.rules
|   |-- 80-drivers.rules
|   `-- 95-udev-late.rules
`-- suse
    `-- 64-device-mapper.rules              [added to device-mapper/]

5 directories, 27 files
