[Desktop Entry]
Encoding=UTF-8
Name=Jubler
Comment=Subtitle Editor
Comment[tr]=Altyazı Düzenleyici
Comment[de]=Untertitel Editierprogramm
GenericName=Subtitle Editor
GenericName[tr]=Altyazı Düzenleyici
GenericName[de]=Untertitel Editierprogramm
Exec=jubler
Icon=jubler.png
Terminal=false
Type=Application
Categories=Application;AudioVideo;Audio;Video;Java;
