[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Vlc
GenericName=VideoLAN Media Player
GenericName[tr]=VideoLAN Medya Oynatıcı
Icon=vlc
Exec=vlc
Terminal=false
Categories=GTK;Application;AudioVideo;Audio;Video;Player;TV;
