[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/3gp
Icon=video
Patterns=*.3gp;*.3GP;*.3gpp;*.3GPP
Comment=3GP Video
Comment[ar]=ملف مرئي 3GP
Comment[be]=Відэафайл 3GP
Comment[bg]=Видео файл 3GP
Comment[bn]=এমপেগ-৪ ভিডিও
Comment[br]=Video 3GP
Comment[bs]=3GP video
Comment[ca]=Vídeo 3GP
Comment[cs]=Video ve formátu 3GP
Comment[csb]=Film w fòrmace 3GP
Comment[cy]=Fideo 3GP
Comment[da]=3GP video
Comment[de]=3GP-Video
Comment[el]=Βίντεο 3GP
Comment[eo]=3GP-video
Comment[es]=Vídeo de 3GP
Comment[et]=3GP videofail
Comment[eu]=3GP bideoa
Comment[fa]=ویدیو 3GP 
Comment[fi]=3GP -video
Comment[fr]=Vidéo 3GP
Comment[fy]=3GP Fideo
Comment[ga]=Físeán 3GP
Comment[gl]=Vídeo 3GP
Comment[he]=סרט 3GP
Comment[hi]=3GP वीडियो
Comment[hr]=3GP video
Comment[hu]=3GP-videó
Comment[id]=Video 3GP
Comment[is]=3GP kvikmynd
Comment[it]=Video 3GP
Comment[ja]=3GP ビデオ
Comment[kk]=3GP бейнефайлы
Comment[km]=3GP វីដេអូ
Comment[ko]=3GP 비디오
Comment[lb]=3GP-Video
Comment[mk]=3GP видео
Comment[mn]=3GP Видео
Comment[ms]=Video 3GP
Comment[nb]=3GP-video
Comment[nds]=3GP-Video
Comment[ne]=3GP भिडियो
Comment[nl]=3GP video
Comment[nn]=3GP-video
Comment[pa]=3GP ਵੀਡਿਓ
Comment[pl]=Film w formacie 3GP
Comment[pt]=Vídeo 3GP
Comment[pt_BR]=Vídeo 3GP
Comment[ro]=Fişier video 3GP
Comment[ru]=Видеофайл 3GP
Comment[rw]=3GP Inyerekanamashusho
Comment[se]=3GP-video
Comment[sk]=Vide 3GP
Comment[sl]=Video 3GP
Comment[sr]=3GP видео
Comment[sr@Latn]=3GP video
Comment[sv]=3GP-video
Comment[ta]=3GP வீடியோ
Comment[te]=3GP వీడియో
Comment[tg]=3GP Видео
Comment[th]=วิดีโอ 3GP
Comment[tr]=3GP Video Dosyası
Comment[uk]=Відео 3GP
Comment[uz]=3GP видео
Comment[vi]=Ảnh động 3GP
Comment[wa]=Videyo 3GP
Comment[zh_CN]=3GP 视频
Comment[zh_HK]=3GP 視像檔
Comment[zh_TW]=3GP 視頻檔案
X-KDE-IsAlso=video/quicktime
