[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/flv
Icon=video
Patterns=*.flv;*.FLV
Comment=Flash Video
Comment[br]=Video Flash
Comment[bs]=Flash video
Comment[ca]=Vídeo Flash
Comment[cs]=Video ve formátu Flash
Comment[csb]=Film w fòrmace Flash
Comment[cy]=Fideo Flash
Comment[da]=Flash video
Comment[de]=Flash-Video
Comment[el]=Βίντεο Flash
Comment[eo]=Flash-video
Comment[es]=Vídeo de Flash
Comment[et]=Flash videofail
Comment[eu]=Flash bideoa
Comment[fi]=Flash -video
Comment[fr]=Vidéo Flash
Comment[fy]=Flash Fideo
Comment[ga]=Físeán Flash
Comment[gl]=Vídeo Flash
Comment[hr]=Flash video
Comment[hu]=Flash-videó
Comment[id]=Video Flash
Comment[is]=Flash kvikmynd
Comment[it]=Video Flash
Comment[lb]=Flash-Video
Comment[mk]=Flash видео
Comment[mn]=Flash Видео
Comment[ms]=Video Flash
Comment[nb]=Flash-video
Comment[nds]=Flash-Video
Comment[nl]=Flash video
Comment[nn]=Flash-video
Comment[pl]=Film w formacie Flash
Comment[pt]=Vídeo Flash
Comment[pt_BR]=Vídeo Flash
Comment[ro]=Fişier video Flash
Comment[rw]=Flash Inyerekanamashusho
Comment[se]=Flash-video
Comment[sk]=Vide Flash
Comment[sl]=Video Flash
Comment[sr]=Flash видео
Comment[sr@Latn]=Flash video
Comment[sv]=Flash-video
Comment[tr]=Flash Video Dosyası
Comment[wa]=Videyo Flash
X-KDE-IsAlso=video/quicktime
