[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rosegarden
Name[de]=Rosegarden
Name[tr]=Rosegarden
GenericName=Sequencer and Notation Editor
GenericName[tr]=Ardışımlayıcı ve Nota Düzenleyici
Categories=Application;AudioVideo;Audio;Midi;Sequencer;
MimeType=audio/x-rosegarden;audio/x-rosegarden-device
Icon=rosegarden
Exec=rosegarden -caption "%c" %i %m
Terminal=false
X-KDE-NativeMimeType=audio/x-rosegarden
