[Desktop Entry]
Icon=edu_miscellaneous
Name=Miscellaneous
Name[af]=Allerande
Name[ar]=منوعات
Name[be]=Рознае
Name[bg]=Разни
Name[bn]=বিবিধ
Name[br]=A bep seurt
Name[bs]=Razno
Name[ca]=Diversos
Name[cs]=Různé
Name[csb]=Jine
Name[cy]=Amrywiol
Name[da]=Diverse
Name[de]=Verschiedenes
Name[el]=Διάφορα
Name[eo]=Diversoj
Name[es]=Varios
Name[et]=Mitmesugust
Name[eu]=Miszelanea
Name[fa]=گوناگون
Name[fi]=Sekalainen
Name[fr]=Divers
Name[ga]=Éagsúil
Name[gl]=Varios
Name[he]=שונות
Name[hi]=विविध
Name[hr]=Razno
Name[hu]=Egyéb
Name[is]=Ýmislegt
Name[it]=Varie
Name[ja]=その他
Name[ka]=სხვადასხვა
Name[km]=ផ្សេងៗ
Name[lt]=Įvairūs dalykai
Name[lv]=Dažādi
Name[mk]=Разно
Name[ms]=Pelbagai
Name[nb]=Diverse
Name[nds]=Anner Saken
Name[ne]=विविध
Name[nl]=Diversen
Name[nn]=Ymse
Name[pa]=ਫੁਟਕਲ
Name[pl]=Różne
Name[pt]=Vários
Name[pt_BR]=Variados
Name[ro]=Diverse
Name[ru]=Разное
Name[se]=Feará mii
Name[sk]=Rôzne
Name[sl]=Razno
Name[sr]=Разно
Name[sr@Latn]=Razno
Name[sv]=Diverse
Name[ta]=இதர தேர்வுகள்
Name[tg]=Гуногун
Name[tr]=Çeşitli
Name[uk]=Різне
Name[uz]=Har xil
Name[uz@cyrillic]=Ҳар хил
Name[vi]=Linh tinh
Name[zh_CN]=杂项
Name[zh_TW]=雜項
