[Desktop Entry]
Icon=package
Name=Teaching Tools
Name[af]=Onderrrighulpmiddels
Name[ar]=أدوات تعليمية
Name[be]=Прылады для навучання
Name[bg]=Обучение
Name[bn]=শিক্ষা সহায়িকা
Name[br]=Ostilhoù deskiñ
Name[bs]=Alati za podučavanje
Name[ca]=Eines d'ensenyança
Name[cs]=Výukové nástroje
Name[csb]=Nôrzãdza do ùczbë
Name[cy]=Offer Dysgu
Name[da]=Undervisningsværktøj
Name[de]=Lehrmittel
Name[el]=Εργαλεία εκμάθησης
Name[eo]=Instruiloj
Name[es]=Herramientas de enseñanza
Name[et]=Õppevahendid
Name[eu]=Ikasketa tresnak
Name[fa]=ابزارهای آموزش
Name[fi]=Opetusohjelmat
Name[fo]=Undirvísingaramboð
Name[fr]=Outils d'éducation
Name[ga]=Uirlisí Múinteoireachta
Name[gl]=Ferramentas de Ensino
Name[he]=כלי לימוד
Name[hi]=शिक्षण औज़ार
Name[hr]=Nastavnički alati
Name[hu]=Oktatási eszközök
Name[is]=Kennslutól
Name[it]=Strumenti per l'insegnamento
Name[ja]=教育ツール
Name[ka]=სასწავლო პროგრამები
Name[km]=សម្ភារៈ​ឧបទេស
Name[lt]=Mokymo įrankiai
Name[lv]=Mācību Instrumenti
Name[mk]=Алатки за учење
Name[mn]=Сурганы Ухааны Хэрэглэгдэхүүн
Name[ms]=Alatan Mengajar
Name[nb]=Læremidler
Name[nds]=Lehrprogrammen
Name[ne]=पढाउने सामग्री
Name[nl]=Leshulpmiddelen
Name[nn]=Læremiddel
Name[nso]=Dibereka tsago Ruta
Name[pa]=ਪੜ੍ਹਾਉਣ ਸੰਦ
Name[pl]=Narzędzia do nauczania
Name[pt]=Ferramentas de Ensino
Name[pt_BR]=Ferramentas de Ensino
Name[ru]=Обучающие программы
Name[se]=Oahpporeaiddut
Name[sk]=Výukové nástroje
Name[sl]=Orodja za učenje
Name[sr]=Учитељски алати
Name[sr@Latn]=Učiteljski alati
Name[sv]=Inlärningsverktyg
Name[ta]=கற்பிக்கும் கருவிகள்
Name[tg]=Асбобҳои Таълимӣ
Name[tr]=Öğretim Araçları
Name[uk]=Засоби для навчання
Name[ven]=Zwishumiswa zwau funza
Name[vi]=Công cụ Giảng dạy
Name[xh]=Izixhobo Zokufundisa
Name[zh_CN]=教学工具
Name[zh_TW]=教學工具
Name[zu]=Amathuluzi Okufundisa
