[Desktop Action Editassu]
Exec=kdesu "kwrite" "%U"
Icon=kfm
Name=Edit as Root
Name[tr]=Yetkili kullanıcı ile düzenle

[Desktop Entry]
Actions=Editassu
Name=edit-as-root
Name[tr]=edit-as-root
ServiceTypes=text/*,application/x-desktop
