[Desktop Entry]
Exec=/usr/kde/3.5/bin/kdm
Icon=kde
Type=Application
X-Pardus-XCursorTheme=Jimmac

Name=KDM
GenericName=KDE Login Manager
GenericName[tr]=KDE Giriş Yöneticisi
